<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysw.graduate_project.study_system.dao.InfoCastDao">
    <select id="infoList" resultType="infocast">
       select * from infocast
   </select>

    <insert id="infoAdd" parameterType="infocast" useGeneratedKeys="true" keyProperty="id">
        insert into infocast values(#{id}, #{name},#{info},#{time},#{title})
    </insert>

    <delete id="infoDelete" parameterType="Integer">
        delete from infocast where id=#{id}
    </delete>

    <select id="infoFindById" parameterType="Integer" resultType="infocast">
        select * from infocast where id=#{id}
    </select>
</mapper>