<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysw.graduate_project.study_system.dao.RecommendDao">

    <insert id="recommendAdd" parameterType="Upload" useGeneratedKeys="true" keyProperty="id">
        insert into recommend values(#{id},#{name},#{author},#{telNumber},#{type},#{time},#{count})
    </insert>

    <update id="recommendUpdate" parameterType="String">
        update recommend set `count`=`count`+1 where `name`=#{name}
    </update>

    <select id="recommendType" parameterType="String" resultType="Upload">
        SELECT *
        FROM recommend
        WHERE type in (select type from (select type
        from recommend
        where telNumber=#{telNumber}
        GROUP BY type
        order by count(type) DESC limit 0,3)tt)
   </select>

    <select id="recommendCount" parameterType="String" resultType="Upload">
        select *
        from recommend
        where telNumber=#{telNumber}
        order by count desc limit 0,3
    </select>

    <select id="recommendXieTong" parameterType="String" resultType="Upload">
        select recommend.*
        from recommend,`user`
        where recommend.telNumber = `user`.telNumber and `user`.sex=#{sex} and `user`.degree=#{degree} and `user`.college=#{college}
        order by count desc LIMIT 0,3
    </select>


    <select id="totalCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend
        WHERE telNumber=#{telNumber}
    </select>

    <select id="manCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.sex="男"
    </select>

    <select id="womanCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.sex="女"
    </select>


<!--    <insert id="uploadAdd" parameterType="Upload" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into upload values(#{id},#{name},#{telNumber},#{type},#{time},#{count})-->
<!--    </insert>-->

<!--    <update id="uploadUpdate" parameterType="String">-->
<!--        update upload set `count`=`count`+1 where `name`=#{name}-->
<!--    </update>-->

<!--    <select id="findUploadByTelNumber" parameterType="String" resultType="Upload">-->
<!--        select * from upload where `telNumber`=#{telNumber}-->
<!--    </select>-->

</mapper>