<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysw.graduate_project.study_system.dao.RecommendDao">

    <delete id="destroyRecommend" parameterType="String">
        delete from recommend where telNumber=#{telNumber}
    </delete>


    <insert id="recommendAdd" parameterType="Upload" useGeneratedKeys="true" keyProperty="id">
        insert into recommend values(#{id},#{name},#{author},#{telNumber},#{type},#{time},#{count})
    </insert>

    <update id="recommendUpdate" parameterType="String">
        update recommend set `count`=`count`+1,telNumber=#{telNumber} where `name`=#{name}
    </update>

    <select id="recommendType" parameterType="String" resultType="Upload">
        SELECT *
        FROM recommend
        WHERE type in (select type from (select type
        from recommend
        where telNumber=#{telNumber}
        GROUP BY type
        order by count(type) DESC limit 0,3)tt)
   </select>

    <select id="recommendCount" parameterType="String" resultType="Upload">
        select *
        from recommend
        where telNumber=#{telNumber}
        order by count desc limit 0,3
    </select>

    <select id="recommendXieTong" parameterType="String" resultType="Upload">
        select recommend.*
        from recommend,`user`
        where recommend.telNumber = `user`.telNumber and `user`.sex=#{sex} and `user`.degree=#{degree} and `user`.college=#{college}
        order by count desc LIMIT 0,3
    </select>

    <select id="recommendZhiShi" parameterType="String" resultType="Upload">
        select recommend.*
        from recommend,`user`
        where recommend.telNumber = `user`.telNumber and `user`.sex=#{sex}
        and (`user`.political=#{political} or `user`.political like '%党员')
        and `user`.college=#{college} and `user`.degree=#{degree} and recommend.type=#{type}
        order by count desc LIMIT 0,3
    </select>


    <select id="totalCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend
        WHERE telNumber=#{telNumber}
    </select>

    <select id="manCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.sex="男"
    </select>

    <select id="womanCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.sex="女"
    </select>

    <select id="partyCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.political like '%党员'
    </select>

    <select id="groupCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.political="共青团员"
    </select>

    <select id="peopleCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.political="群众"
    </select>


    <select id="uploadCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from upload
        WHERE telNumber=#{telNumber}
    </select>

    <select id="undergraduateCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.degree="本科"
    </select>

    <select id="postgraduateCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.degree="硕士"
    </select>

    <select id="doctorCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.degree="博士"
    </select>

    <select id="scCollegeCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.college="水产学院"
    </select>

    <select id="dkCollegeCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.college="动物科学学院"
    </select>

    <select id="smCollegeCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.college="商贸学院"
    </select>

    <select id="dyCollegeCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend,`user`
        WHERE recommend.telNumber=#{telNumber} and  recommend.author=`user`.`name` and `user`.college="动物医学学院"
    </select>

    <select id="artCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend
        WHERE recommend.telNumber=#{telNumber} and  recommend.type="艺术"
    </select>

    <select id="textCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend
        WHERE recommend.telNumber=#{telNumber} and  recommend.type="文学"
    </select>

    <select id="techCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend
        WHERE recommend.telNumber=#{telNumber} and  recommend.type="科技"
    </select>

    <select id="hisCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend
        WHERE recommend.telNumber=#{telNumber} and  recommend.type="历史"
    </select>

    <select id="happyCount"  parameterType="String" resultType="Integer">
        select  count(*)
        from recommend
        WHERE recommend.telNumber=#{telNumber} and  recommend.type="旅游"
    </select>


<!--    <insert id="uploadAdd" parameterType="Upload" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into upload values(#{id},#{name},#{telNumber},#{type},#{time},#{count})-->
<!--    </insert>-->

<!--    <update id="uploadUpdate" parameterType="String">-->
<!--        update upload set `count`=`count`+1 where `name`=#{name}-->
<!--    </update>-->

<!--    <select id="findUploadByTelNumber" parameterType="String" resultType="Upload">-->
<!--        select * from upload where `telNumber`=#{telNumber}-->
<!--    </select>-->

</mapper>