<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysw.graduate_project.study_system.dao.UploadDao">
    <select id="findAll" resultType="Upload">
       select * from upload
   </select>

    <insert id="uploadAdd" parameterType="Upload" useGeneratedKeys="true" keyProperty="id">
        insert into upload values(#{id},#{name},#{userName},#{type},#{time},#{count})
    </insert>

    <update id="uploadUpdate" parameterType="String">
        update upload set `count`=`count`+1 where `name`=#{name}
    </update>

    <select id="findUploadByName" parameterType="String" resultType="Upload">
        select * from upload where `name`=#{name}
    </select>

<!--    <delete id="infoDelete" parameterType="Integer">-->
<!--        delete from infocast where id=#{id}-->
<!--    </delete>-->

<!--    <select id="infoFindById" parameterType="Integer" resultType="infocast">-->
<!--        select * from infocast where id=#{id}-->
<!--    </select>-->
</mapper>