<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysw.graduate_project.study_system.dao.UploadDao">
    <select id="findAll" resultType="Upload">
       select * from upload
   </select>

    <insert id="uploadAdd" parameterType="Upload" useGeneratedKeys="true" keyProperty="id">
        insert into upload values(#{id},#{name},#{author},#{telNumber},#{type},#{time},#{count})
    </insert>

    <update id="uploadUpdate" parameterType="String">
        update upload set `count`=`count`+1 where `name`=#{name}
    </update>

    <select id="findUploadByTelNumber" parameterType="String" resultType="Upload">
        select * from upload where `telNumber`=#{telNumber}
    </select>

    <delete id="destroyUpload" parameterType="String">
        delete from upload where telNumber=#{telNumber}
    </delete>

    <select id="showFileItemByName" parameterType="String" resultType="Upload">
        select * from upload where `type`=#{type}
    </select>
</mapper>