<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysw.graduate_project.study_system.dao.UserDao">
    <select id="findAll" resultType="User">
        select id, telNumber,mail from user
        <trim prefix="where" prefixOverrides="AND | OR">
            <if test="telNumber != null and telNumber !=''">
                and telNumber = #{telNumber}
            </if>
            <if test="mail != null and mail !=''">
                and mail = #{mail}
            </if>
        </trim>
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user values(#{id}, #{telNumber}, #{passWord},#{mail})
    </insert>

    <delete id="deleteUser" parameterType="Integer">
        delete from user where id=#{id}
    </delete>

    <update id="updateUser" parameterType="User">
        update user set mail=#{mail} where id=#{id}
    </update>

    <select id="findById" parameterType="Integer" resultType="User">
        select id, telNumber,passWord,mail from user where id=#{id}
    </select>
    <select id="findByTelNumber" parameterType="String" resultType="User">
        select id,telNumber,passWord,mail from user where telNumber=#{telNumber}
    </select>
</mapper>