<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          href="css/style.css"/>
</head>

<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    2022/4/16
                    <br/>
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="#">大学生学习服务自主平台</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                用户登录
            </h1>
            <form action="/study_system/regist.html" method="post">
                <table cellpadding="0" cellspacing="0" border="0"
                       class="form_table">
                    <tr>
                        <td valign="middle" align="right">
                            电话号码:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" v-model="user.telNumber"  name="name"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            密码:
                        </td>
                        <td valign="middle" align="left">
                            <input type="password" class="inputgri" v-model="user.passWord" name="pwd"/>
                        </td>
                    </tr>
                </table>
                <p>
                    <input type="button" value="登录" onclick="login()">
                    &nbsp;&nbsp;
                    <a href="/study_system/regist.html">注册</a>
                </p>
            </form>
        </div>
    </div>
    <div id="footer">
        <div id="footer_bg">

        </div>
    </div>
</div>
</body>
</html>
<script src="/study_system/js/vue.js"></script>
<script src="/study_system/js/axios.min.js"></script>
<!--<script>-->
<!--    var app = new Vue({-->
<!--        el: "#wrap",-->
<!--        data: {-->
<!--            user:{},//用来保存用户数据-->
<!--        },-->
<!--        methods:{-->
<!--            //用户登录-->
<!--            login(){-->
<!--                //发送登录请求-->
<!--                axios.post("http://localhost:9999/study_system/user/login",this.user).then(res=>{-->
<!--                    console.log(res.data);-->
<!--                    if(!res.data.status){-->
<!--                        alert(res.data.msg+",点击确定进入主页!");-->
<!--                        //将登录用户信息放入localStorage key  value-->
<!--                        localStorage.setItem("user",JSON.stringify(res.data.user));-->
<!--                        location.href="http://localhost:9999/study_system/user/login2";-->
<!--                    }else{-->
<!--                        alert(res.data.msg);-->
<!--                    }-->
<!--                });-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--</script>-->

<script>
    function login(){
        var user = /^.{6,}$/;
        var pass = /^.{6,}$/
        var userName = document.getElementsByClassName("inputgri")[0];
        var passWord = document.getElementsByClassName("inputgri")[1];
        if (user.test(userName.value) && pass.test(passWord.value)){
            alert("登录成功！")
            //location.href="http://localhost:9999/study_system/backSystem/backControl";
            location.href="http://localhost:9999/study_system/user/login2";
        } else {
            alert("账号或密码格式错误")
        }
    }
</script>
